/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Our CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  font-family: 'Inter', sans-serif !important;
  font-size: 18px;
  background-color:  rgb(245, 245, 247);
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
}
.blue-link {
  text-decoration: none;
  color: #08c;
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  padding: 0 6px;
}


.title-dark {
  color: rgb(29, 29, 31);
  font-size: 3rem;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
}
.title-light {
  color: rgb(110, 110, 115);
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
}
.dark-bg {
  background-color: rgb(49, 49, 50);
  transition: all 3s ease-in;
}
.blue-link:hover {
  color: #000;
  text-decoration: underline;
}
img {
  border-radius: 20px;
}

/*--- nav ---*/
.nav-bg {
  background-color: rgb(49, 49, 50);
}


.nav-link{
  background-origin: content-box;
  opacity: 1;
  height: 44px;
}  
nav{
  height: 44px;
  max-width: 1100px;
}
nav a{
  color: rgb(193, 193, 194);
  padding: 5px;
  font-size: 12px;
}

.fa-apple{
  color: rgb(214, 214, 214);
}
nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.sm-nav {
  display: none;
}

@media screen and (max-width: 768px){
  .lg-nav {
    display: none;
    background-color: #fff;
  }
  .sm-nav {
    display: flex;
  }
  .sm-nav a {
    font-size: 16px;

  }
}
/*hero begins*/


.hero{
  color: rgb(29, 29, 31);
  padding: 1.5em;
  line-height: 1.45;
  margin: 10px auto;
  max-width: 1100px;
}
.main-title{
  font-size: 3em;
}
.sub-title{
  font-size: 1.5em;
}
.hero-image{
  min-width: 800px;
  height: auto;
  border-radius: 20px;
}
.hero a {
  border: 1px solid #08c;
  border-radius: 15px;
  padding: 8px;
}
.hero a:hover {
  border: 1px solid #08c;
  border-radius: 15px;
  padding: 8px;
  background-color: #08c;
  color: rgb(245, 245, 247);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}


/* --- Image scroll section --- */
.image-holder {
  display: flex;
  flex-direction: row;
}
.box {
  padding: 5% 5%;
  margin: 0 auto;
}
.box img:hover {
  transform: scale(1.008);
  box-shadow: 0px 0px 5px 6px rgba(23,23,24,0.30);
  transition: all 250ms ease-in-out;
}
.box-text {
  position: absolute;
  color: white;
  top: 20%;
  left: 10%
}

.box img{
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  object-fit: cover;
  max-width: 1000px
}
.image-wrapper {
  overflow: hidden;
}
.image-holder-title {
  text-align: center;
  font-size: 5rem;
  padding: 10px;
}

/* --- Sub-hero ---*/

.sub-hero h1, .island-feature h1 {
  max-width: 75%;
  text-align: left;
  padding: 1em;
  margin: 0 auto;
}
.sub-hero img, .island-feature img{
  height: auto;
  width: 90vw;
  object-fit: cover;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .sub-hero h1, .island-feature h1 {
    text-align: left;
  }
}
/*footer begins*/
footer{
  padding-top: 20px;
  background-color: #f2f2f2;
  list-style: none;
  color: #666;
  font-size: 12px;
}
footer a {
  color: rgb(110, 110, 115);
}
footer a:hover {
  color: rgb(29, 29, 31);
}
.footer-info li {
  padding: 5px 0;
}
.footer-info ul {
  margin: 10px 30px;
}
footer div {
  max-width: 1100px;
}
.footer-bold{
  color:#333;
  font-weight: 500;
}

